<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'KPTER', root_path, class: "navbar-brand page-scroll" %>
    </div>
  </div>
</nav>
