<div class="kpter-drawer mdl-layout__drawer">
  <span class="mdl-layout-title kpter-logo">KPTER</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">MyPage</a>
    <a href="<%= url_for :controller => :mypages, :action => :show %>" class>
    <div class="kpter-drawer-separator"></div>
    <a class="mdl-navigation__link" href=""><span class="kpter-drawer-inviting-text">Community Name</span><span class="kpter-drawer-circle"></span></a>
    <a class="mdl-navigation__link" href="">Community Name<span class="kpter-drawer-task-count">3</span></a>
  </nav>
</div>
