<% content_for :head_title do %>
  Privacy Policy
<% end %>
<% content_for :extra_stylesheet do %>
  <%= stylesheet_link_tag 'heading', media: 'all' %>
<% end %>
<div class="container">
  <div class="row">
    <% if request.subdomains.first == 'en' %>
      <%= render :partial => 'en' %>
    <% else %>
      <%= render :partial => 'ja' %>
    <% end %>
  </div>
</div>

<% content_for :extra_js do %>
  <%= javascript_include_tag 'heading' %>
<% end %>
