<div class="modal__overlay" tabindex="-1" data-micromodal-close>
  <div class="modal__container mdl-shadow--2dp" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
    <header class="modal__header">
      <h2 class="modal__title mdl-color-text--red-800">
        <%= t('registrations.settings.menus.account.delete_account') %>
      </h2>
      <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
    </header>
    <main class="modal__content">
      <div class="mdl-typography--body-1-color-contrast">
        <%= t('registrations.settings.menus.account.delete_account_notice') %>
      </div>
    </main>
    <footer class="modal__footer">
      <%= button_to t('registrations.settings.menus.account.delete.do'), registration_path(current_user), method: :delete, class: "kpter-danger-button", style: "display: inline;" %>
      <button class="mdl-button" data-micromodal-close aria-label="Close delete account dialog window">
        <%= t('actions.cancel') %>
      </button>
    </footer>
  </div>
 </div>
