<dialog class="mdl-dialog kpter-dialog">
  <div class="mdl-dialog__content">
    <div id="avatar" class="modal-body avatar-image-container" style="display:none">
      <img id="preview-avatar-image" src="">
    </div>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button mdl-button--colored mdl-js-button" id="upload-image-btn">Save</button>
    <button type="button" class="mdl-button mdl-js-button close">Cancel</button>
  </div>
</dialog>
