<div id="notification" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>

<% if notice %>
  <script type="text/javascript">
    'use strict';
    var sms = function () {
      var id;
      var checkAndShowSnackBar = function () {
        var snackbarContainer = document.querySelector('#notification');
        if (!snackbarContainer
          || !snackbarContainer.MaterialSnackbar) {
          return;
        }
        var data = {
          message: "<%= notice %>"
        };
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
        clearInterval(id);
      };
      var timeout = function (fn, timeout) {
        id = setInterval(fn, timeout);
      };
      return {
        init: function () {
          timeout(checkAndShowSnackBar, 50);
        }
      }
    }();
    $(document).ready(function () {
      sms.init();
    });
  </script>
<% end %>
