<div id="notification" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>

<% if notice %>
  <script type="text/javascript">
    'use strict';
    var sms = function () {
      var checkAndShowSnackBar = function () {
        var snackbarContainer = document.querySelector('#notification');
        var data = {
          message: "<%= notice %>"
        };
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
      };
      var timeout = function (fn, timeout) {
        setTimeout(fn, timeout);
      };
      return {
        init: function () {
          timeout(checkAndShowSnackBar, 300);
        }
      }
    }();
    $(document).ready(function () {
      sms.init();
    });
  </script>
<% end %>
