<section class="no-border-bottom">
  <div class="container">
    <div class="row feature">
      <div class="col-sm-6 feature-image">
        <img src="http://thetheme.io/thedocs/landing/assets/img/feature-3.jpg" alt="img">
      </div>
      <div class="col-sm-6 feature-text">
        <header class="section-header text-left">
          <h2>Real-Time</h2>
          <p>You can find our code well organized, commented and readable. It uses minimal coding to reduce the size of template. Apart from that, you've access to SCSS and Grunt files to make your desire changes easily.</p>
        </header>
      </div>
    </div>
  </div>
</section>
<section class="no-border-bottom bg-gray-lighter">
  <div class="container">
    <div class="row feature">
      <div class="col-sm-6 feature-text">
        <header class="section-header text-left">
          <h2>Task Management</h2>
          <p>Your template works on any device: desktop, tablet or mobile. It'll adjust the size and position of components based on the screen size of user.</p>
        </header>
      </div>
      <div class="col-sm-6 feature-image">
        <img src="http://thetheme.io/thedocs/landing/assets/img/feature-1.png" alt="img">
      </div>
    </div>
  </div>
</section>
<section class="no-border-bottom">
  <div class="container">
    <div class="row feature">
      <div class="col-sm-6 feature-image">
        <img class="img-bordered" src="http://thetheme.io/thedocs/landing/assets/img/feature-3.jpg" alt="img">
      </div>
      <div class="col-sm-6 feature-text">
        <header class="section-header text-left">
          <h2>Reduce Equipment Cost</h2>
          <p>No more scribbled paper notes stuck all over your monitor, desk or fridge. All your notes are in one place online.</p>
        </header>
      </div>
    </div>
  </div>
</section>
<div class="get-started">
  <p class="text-center hero"><%= link_to "GET STARTED - IT'S FREE", new_user_registration_path %></p>
</div>
