// Place all the styles related to the communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format("embedded-opentype"), url('../assets/glyphicons-halflings-regular.woff2') format("woff2"), url('../assets/glyphicons-halflings-regular.woff') format("woff"), url('../assets/glyphicons-halflings-regular.ttf') format("truetype"), url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format("svg");
}
.action-ul ul {
  margin-left:0;
  padding:0;
  list-style-type:none;
  li {
    cursor:pointer;
    display:inline-block;
    margin: 0 10px 0 0;
    .fa-li {
      position: static;
    }
  }
}

.btn-invite {
  padding: 5px 40px;
  font-size: 14px;
  line-height: 1.5;
}

.invitation-msg {
  padding: 10px 0 10px 0;
}
