#modal_invite_other {
  .modal-body {
    .search-container {
      border: 1px solid #c5c5c5;
      border-radius: .25rem;
      width:100%;
      cursor: text;
      margin-bottom:20px;
      .icon {
        background: transparent;
        border: none;
      }
      input[type="text"] {
        border: none;
        outline: 0;
        box-shadow: none!important;
        font-size: large;
        padding-left: 0;
      }
    }
    .invite-container {
      height: 270px;
      overflow: auto;
      .invite-table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        table-layout: fixed;
        tr {
          border-bottom: 1px solid #e6e6e6;
          cursor: pointer;
          td {
            vertical-align: middle;
          }
        }
      }
    }
  }
}
