body {
  font-family: 'Roboto', 'Hiragino Kaku Gothic ProN', sans-serif !important;
}
.navbar-default {
  font-family: 'Roboto', 'Hiragino Kaku Gothic ProN', sans-serif !important;
}

* {
  word-wrap: break-word;
}

.top0 { margin-top:0px; }
.top1 { margin-top:1px; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.facebook {
  border: solid #EEF3F6 20px;
  border-radius: 8px;
  max-width: 540px;
  margin: auto;
}
.li-center {
  display: inline-block;
  margin:0 auto;
  text-align:left;
}

#kpter-description {
  z-index: 2;
  content: "";
  background-color: rgba(0,0,0,0.4);
}

div.resizeimage {
   max-width: 350px; /* 最大幅 */
   min-width: 240px; /* 最小幅 */
}
div.resizeimage img { width: 100%; }

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

.navbar-default {
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Roboto', 'Hiragino Kaku Gothic ProN', sans-serif !important;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.header-text {
  font-family: 'Roboto', 'Hiragino Kaku Gothic ProN', sans-serif !important;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 15px 15px;
}

.title {
  font-size: 20px;
}

/* modal開いている時、背景固定 */
body.modal-open {
  overflow: hidden;
  position:fixed;
  width: 100%;
}

.navbar .navbar-brand {
  color: #22B9B6 !important;
}

.dataTables_filter_action {
  margin: 0 0 10px 0;
}

.form-inline {
  display: inline-flex;
}


.new-text {
  font-weight: 600;
}

.community-name {
  width: 90%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  vertical-align: middle;
}

.circle {
  background-color: #ff8c00;
  border: 1px solid #ff8c00;
  border-radius: 9px;
  box-sizing: border-box;
  display: block;
  height: .6em;
  min-width: .6em;
  padding: 0 .15em;
  position: relative;
  text-align: center;
  width: auto;
  float: right;
  margin: 6px 0;
}

.modal-description-container {
  padding: 10px 15px;
  .description {
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    margin: 0 0 15px 0;
  }
  .notice {
    margin: 0 0 5px 10px;
    font-weight: 300;
    color: #777;
    li:before {
      content: "* "
    }
  }
}

.form-control {
  padding: .3rem 0 0.3rem !important;
}

.form-group-field {
  margin-bottom: 25px !important;
}
