.top0 { margin-top:0px; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.facebook {
  border: solid #EEF3F6 20px;
  border-radius: 8px;
  max-width: 540px;
  margin: auto;
}
.li-center {
  display: inline-block;
  margin:0 auto;
  text-align:left;
}
#kpter-description {
  z-index: 2;
  content: "";
  background-color: rgba(0,0,0,0.4);
}

div.resizeimage {
   max-width: 350px; /* 最大幅 */
   min-width: 240px; /* 最小幅 */
}
div.resizeimage img { width: 100%; }

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}


.navbar-default {
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.header-text {
  font-family: 'Open Sans', Arial;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  padding: 15px 15px;
}

.title {
  font-size: 20px;
}
