<div style="background-color: snow;">
  <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
  <p>
  boards#show
  </p>

  <p>
  Board Name: <%= @board.name %>
  </p>
  <button class="btn btn-6 btn-6a" data-type="keep">Keep</button>
  <button class="btn btn-6 btn-6a" data-type="problem">Problem</button>
  <button class="btn btn-6 btn-6a" data-type="try">Try</button>
  <div id="boardWrap" class="wrap"></div>
  <p id="trashCan" style="display: block;"><%= image_tag("trashCan.png", :class => "trashCanImg") %></p>
  <input type="hidden" id="board_id" name="board_id" value="<%= @board.id %>">
</div>
