<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <div class="kpter-sub-heading">
      <div class="kpter-sub-title">
        <div class="mdl-typography--body-2-color-contrast">MyPage</div>
      </div>
      <div class=“clarifix”></div>
    </div>
    <%= render :partial => "tasks", :locals => { t_cards: @t_cards, visible_assignee: false, url: @community.id, status: @status, chartDoughnut: false} %>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
    <!-- TODO イイね？ -->
  </div>
</div>
