<% content_for :head_title do %>
  <%= @board.name %>
<% end %>
<div style="background-color: snow;">
  <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
  <p>
  boards#show
  </p>

  <p>
  Board Name: <%= @board.name %>
  </p>
  <div id="boardWrap" class="wrap"></div>
  <div class="tool-bar">
    <ul class="tool-bar-buttons">
      <li>
        <button class="mdl-button mdl-js-button mdl-color-text--primary tool-bar-button mdl-js-ripple-effect" data-type="keep"><b>Keep</b></button>
      </li>
      <li>
        <button class="mdl-button mdl-js-button mdl-color-text--primary tool-bar-button mdl-js-ripple-effect"data-type="problem"><b>Problem</b></button>
      </li>
      <li>
        <button class="mdl-button mdl-js-button mdl-color-text--primary tool-bar-button mdl-js-ripple-effect" data-type="try"><b>Try</b></button>
      </li>
      <li>
        <button class="mdl-button mdl-js-button mdl-color-text--grey-500 tool-bar-button mdl-js-ripple-effect" data-type="memo">Memo</button>
      </li>
    </ul>
  </div>
  <input type="hidden" id="board_id" name="board_id" value="<%= @board.id %>">
</div>
