#boardWrap {
  width: 2628px;
  height: 1952px;
  background-color: snow;
}

.kBtn {
  background-color: lightseagreen;
  color: snow;
}
.pBtn{
  background-color: palevioletred;
  color: snow;
}
.tBtn{
  background-color: yellowgreen;
  color: snow;
}

.cardBox {
  position: relative;
  -webkit-user-modify: read-write-plaintext-only;
  font-size: x-large;
  left: 10%;
  top: 20%;
	vertical-align: middle;
	text-align: center;
  z-index: 1100;
  padding: 0.5em 0.5em;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.textBox {
  position: absolute;
  -webkit-user-modify: read-write-plaintext-only;
  width: 200px;
  height: 200px;
  margin: auto;
  z-index: 1200;
}

.trashCanImg {
  width: 152px;
  height: 230px;
}

#trashCan {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
}

/* google material lite */

.kpter-card-event.mdl-card {
  width: 200px;
  height: 200px;
  /* background: #3E4EB8;*/
}
.kpter-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.kpter-card-event > .mdl-card__title {
  align-items: flex-start;
}
.kpter-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.kpter-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.kpter-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.kpter-card-event > .mdl-card__title,
.kpter-card-event > .mdl-card__actions,
.kpter-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.kpter-card-event.mdl-card.keep {
  color: #263238;
  background: #80DEEA;
}
.kpter-card-event.mdl-card.problem {
  background: #F48FB1;
}
.kpter-card-event.mdl-card.try {
  background: #AED581
}
