#boardWrap {
  width: 2628px;
  height: 1952px;
  background-color: snow;
}

.cardBox {
  position: relative;
  font-size: x-large;
  left: 10%;
  top: 20%;
	vertical-align: middle;
	text-align: center;
  z-index: 1100;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.textBox {
  position: absolute;
  -webkit-user-modify: read-write-plaintext-only;
  width: 200px;
  height: 200px;
  margin: auto;
  z-index: 1200;
}

.trashCanImg {
  width: 152px;
  height: 230px;
}

#trashCan {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
}

.tool-bar {
  /*background-color: #21b7b6;*/
  position: fixed;
  display: flex;
  padding: 0 100px;
  z-index: 10000;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  border-top: 1px #E8ECEB solid;
}

.tool-bar-buttons {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
}

.tool-bar-buttons li {
  position: relative;
  margin-right: 30px;
  font-size: 13px;
}

/* google material lite */

.kpter-card-event.mdl-card {
  width: 250px;
  height: 200px;
  /* background: #3E4EB8;*/
}
.kpter-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.kpter-card-event > .mdl-card__title {
  align-items: flex-start;
  padding: 27px 30px!important;
}
.mdl-card__title {
  padding: 30px 20px!important;
}



.kpter-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.kpter-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.kpter-card-event > .mdl-card__title,
.kpter-card-event > .mdl-card__actions,
.kpter-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.kpter-card-wide > .mdl-card__menu {
  color: #fff!important;
}

.mdl-card__menu {
    right: 5px!important;
    top: 5px!important;
}
.mdl-button--icon.icon-white {
    color: #fff;
}

.card-text {
  -webkit-user-modify: read-write-plaintext-only;
  padding: 0!important;
  width: 100%;
  height: 150px;
}

.kpter-card-event.mdl-card.keep {
  color: #263238;
  background: #64B5F6;
}
.kpter-card-event.mdl-card.problem {
  background: #F06292
}
.kpter-card-event.mdl-card.try {
  background: #66BB6A
}
