.facebook {
  border: solid #EEF3F6 20px;
  border-radius: 8px;
  max-width: 540px;
  margin: auto;
}
.li-center {
  display: inline-block;
  margin:0 auto;
  text-align:left;
}
#kpter-description {
  z-index: 2;
  content: "";
  background-color: rgba(0,0,0,0.4);
}

div.resizeimage {
   max-width: 350px; /* 最大幅 */
   min-width: 240px; /* 最小幅 */
}
div.resizeimage img { width: 100%; }
