 <div class="kpter-card-event mdl-card mdl-shadow--2dp <%= kpcard.card_type %> cardBox" id="kp_<%= kpcard.id %>"　data-type="<%= kpcard.card_type %>">
  <div class="mdl-card__title mdl-card--expand">
    <h4><%= kpcard.title %></h4>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Assignees</a>
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons">event</i>
  </div>
</div>
