 <div class="kpter-card-event mdl-card mdl-shadow--2dp <%= kpcard.card_type %> cardBox" id="kp_<%= kpcard.id %>"　data-type="<%= kpcard.card_type %>">
  <div class="mdl-card__title mdl-card--expand">
    <p class="card-text"><%= kpcard.title %></p>
  </div>
  <div class='mdl-card__menu'>
    <button class='mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect icon-white delete-btn'>
      <i class='material-icons md-14'>close</i>
    </button>
  </div>
</div>
