@import "./variables";
@import "./_micromodal";

.kpter-logo, .kpter-logo-header {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
  color: $primary-color;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none !important;
  @media screen and (max-width: $layout-screen-size-threshold) {
    font-size: 22px;
  }
}

/**
 * header
 */
.kpter-header {
  overflow: visible;
  background-color: white;
  .material-icons {
    color: #767777 !important;
  }
}

@media screen and (min-width: 1025px) {
  .mdl-layout--fixed-drawer {
    .kpter-logo-header {
      display: none;
    }
  }
}

.kpter-menu {
  .mdl-menu__item {
    padding: 0;
    margin: 0;
    a {
      display: block;
      text-decoration: none;
      color: inherit;
      padding: 0 16px;
    }
  }
}
/**
 * drawer (side bar)
 */
.kpter-drawer {
  .kpter-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }
  .kpter-drawer-community-name {
    max-width: 87%;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .kpter-drawer-inviting-text {
    font-weight: 600;

  }
  .kpter-drawer-circle {
    background-color: #ff8c00;
    border: 1px solid #ff8c00;
    border-radius: 9px;
    box-sizing: border-box;
    display: block;
    height: .6em;
    min-width: .6em;
    padding: 0 .15em;
    position: relative;
    width: auto;
    float: right;
    margin: 8px 0;
  }
  .kpter-drawer-task-count {
    display: inline;
    float: right;
    color: #ccc;
    padding-left: 5px;
    font-size: 12px;
  }
  .kpter-nav-action {
    padding: 8px 16px;
     a {
       text-decoration: none;
       &:hover {
         text-decoration: underline;
       }
     }
     i.material-icons {
       vertical-align: middle;
     }
     span {
       margin-left: 2px;
     }
  }
  .kpter-nav-form-content {
    padding: 0 16px;
    .kpter-nav-form-input {
      width: 100%;
      height: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 13px;
      padding: 5px;
      margin-bottom: 7px;
      background-color: white !important;
      border: 1px solid #ddd;
      border-radius: 3px;
      border-collapse: separate !important;
      &:focus {
        outline: 0;
      }
    }
    .kpter-nav-form-button {
      font-size: 12px;
      text-transform: none;
      height: 28px;
      line-height: 30px;
    }
    .kpter-close-button-text-color {
      color: #555;
    }
  }
}

/* Rules for sizing the icon. */
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.kpter-color-text--white {color: #fff}

@mixin kpter-alert-message {
  width: 100%;
  margin: 0 0 15px 0;
  ul {
    border-bottom: 1px solid rgba(0,0,0,.12);
    li {
      color: #d15e5e;
      font-size: 14px;
    }
  }
}

.kpter-notice-message {
  width: 100%;
  margin: 0 0 15px 0;
  ul {
    border-bottom: 1px solid rgba(0,0,0,.12);
    li {
      font-size: 14px;
    }
  }
}

.kpter-form-middle {
  margin: 0 auto;
  margin-top: 40px;
  width: 320px;
  .kpter-alert-message {
    @include kpter-alert-message;
  }
}

.kpter-form-left {
  width: 350px;
  .kpter-alert-message {
    @include kpter-alert-message;
  }
}

.float-right {
  display: flex;
  margin-left: auto;
}

.kpter-link {
  text-decoration: none;
}
.kpter-checkbox-label {
  color: rgba(0,0,0,.26);
}

.kpter-content {
  .kpter-content-head {
    padding-top: 24px;
    margin: 0 16px;
  }
  .kpter-content-subhead {
    margin: 0 16px;
    padding-top: 8px;
  }
}

.kpter-steps {
  width: 80%;
  padding: 0;
  margin: 30px auto;
  overflow: hidden;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  @media screen and (min-width: $grid-tablet-breakpoint) {
    display: table;
  }
  li {
    @media screen and (min-width: $grid-tablet-breakpoint) {
      display: table-cell;
      border-left: 1px solid #ddd;
    }
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-left: 1px solid #ddd;
  }
}

.kpter-mail {
  padding: 30px 0 0 0;
}

.kpter-avatar-img-96 {
  width: 96px;
  height: 96px;
  border-radius: 3px;
}

.kpter-dialog {
  width: 450px;
}

dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

table > tfoot > tr {
  height: 56px;
}

.kpter-table {
  width: 100%;
  &#t_cards-table-data {
    th:nth-child(2) {
      width: 100%;
    }
  }
  &#board-table {
    th:nth-child(1) {
      width: 80%;
    }
  }

  td {
    white-space: initial;
    &.assignee-image {
      text-align: center;
      .mdl-chip__contact {
        margin-right: 0 !important;
      }
    }
  }
  tbody tr {
    height: 57px;
  }
  td:nth-child(2) {
    max-width: 100px;
  }
  .kpter-table-header-title {
    font-size: 18px !important;
  }
  .kpter-task-open-closed {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    padding-left: 8px;
  }
}

/**** paging ****/
.mdl-paging {
  color: $colorContrast;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.mdl-paging > * {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.mdl-list + .mdl-paging {
  margin: 0;
}

.mdl-paging__per-page {
  position: relative;
}

.mdl-paging__per-page-label {
  margin-right: 40px;
}

.mdl-paging__per-page-value {
  position: absolute;
  right: 36px;
  top: 6px;
}

.mdl-paging__per-page + .mdl-paging__count {
  margin-left: 24px;
}

.mdl-paging .mdl-menu {
  min-width: 64px;
}

.mdl-paging__prev:last-child {
  margin-right: 44px;
}

.mdl-paging__count + .mdl-paging__prev {
  margin-left: 24px;
}

.mdl-paging__prev + .mdl-paging__next {
  margin-left: 12px;
}

.mdl-paging__count + .mdl-paging__next {
  margin-left: 68px;
}
/**** paging end ****/

@mixin kpter-avatar-icons {
  width: 24px;
  height: 24px;
  opacity: .8;
}

.kpter-avatar-icons-square {
  @include kpter-avatar-icons;
  border-radius: .2rem;
}

.kpter-avatar-icons-circle {
  @include kpter-avatar-icons;
  border-radius: 50%;
}

.kpter-avatar-icons-circle-m8 {
  @include kpter-avatar-icons;
  margin-right: 8px;
  border-radius: 50%;
}

.kpter-avatar-name {
  font-size: 15px;
}

.kpter-sub-heading {
  padding: .7rem;
  .kpter-sub-title {
    text-align: left;
    float: left;
  }
  .kpter-settings {
    text-align: right;
    color: $colorContrast;
  }
  ::after{
    content: "";
    display: block;
    clear: both;
  }
}

.kpter-dialog-full-screen {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  .mdl-button--icon {
    position: absolute;
    top: 3rem;
    right: 3rem;
    min-width: 56px;
    width: 56px;
    font-size: 56px;
    height: 56px;
    .material-icons {
      font-size: 36px;
      top: 1.8rem;
      left: 1.55rem;
    }
    .esc {
      position: relative;
      text-transform: none;
      font-size: 12px;
    }
  }
  .kpter-dialog-content {
    color: rgba(0,0,0,.54);
    padding: 100px 100px 24px;
  }
  .kpter-dialog-content2 {
    color: rgba(0,0,0,.54);
    padding: 100px 20% 24px;
  }
}

dialog {
  .select2-user-multiple {
      width: 80%;
  }
  .select2-results__option {
    color: rgba(0,0,0,.54);
  }
}

dialog.kpter-dialog-middle {
  width: 500px;
  height: 450px;
}

.kpter-invitable-content {
  .kpter-invite-button {
    height: 50px;
    width: 100px;
  }
  .kpter-invitable-select {
    min-width: 520px;
    .select2-container {
      width: 80% !important;
    }
    ul {
      line-height: 36px;
      li {
        line-height: 36px;
      }
    }
    .select2-selection__choice__remove {
      margin-right: 5px !important;
    }
    .select2-search__field {
      line-height: 40px;
    }
  }
}

dialog[open] {
  animation: dialog-open 150ms ease-in-out;
}
@keyframes dialog-open {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

ul.notice {
  list-style: none;
  padding: 0 0 0 10px;
  li:before {
    content: "* ";
  }
}
.kpter-member-list {
  height: 235px;
  min-width: 450px;
  .mdl-list__item {
    font-size: 14px;
  }
  .inviting-text {
    color: $colorContrast;
  }
  .joining-you {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.54);
  }
  .inviting-avatar {
    filter: brightness(85%);
  }
  .mdl-list__item-avatar,
  .mdl-list__item-avatar.material-icons {
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(117,117,117);
    font-size: 40px;
    color: white;
  }
  .mdl-list__item--two-line {
    height: 50px;
    .mdl-list__item-primary-content {
      height: 36px;
      line-height: 20px;
      display: block;
      .mdl-list__item-avatar {
        float: left;
      }
      .mdl-list__item-icon {
        float: left;
        margin-top: 6px;
      }
      .mdl-list__item-secondary-content {
        height: 36px;
      }
      .mdl-list__item-sub-title {
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        line-height: 18px;
        color: $colorContrast;
        display: block;
        padding: 0;
      }
    }
  }
}

.view-more {
  text-align: center;
  margin: 5px 0;
  .mdl-button {
    width: 100%;
    background: initial;
    min-width: initial;
    padding: 0;
  }
}

.clickable {
  cursor: pointer;
}

.mute-color {
  color: $colorContrast;
}

.kpter-mute-text {
  font-size: 12px;
  font-weight: 400;
  color: $colorContrast;
}

.kpter-contents {
  padding: 0.7em;
  .kpter-sub-heading {
    padding: 0 0 0.7em 0;
  }
  .kpter-sub-contents {
    padding: 0 0 2em 0;
  }
  .kpter-chip-action-container {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 350px;
    .kpter-chip-actions {
      display: table-row;
      .kpter-chip-action {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
      }
    }
  }
}

.kpter-chip-action-m {
   width: 150px;
   cursor: pointer;
}
@media screen and (max-width: 839px){
  .kpter-mypage-cell {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    .kpter-mypage-cell-task {
      order: 2;
    }
    .kpter-mypage-cell-status {
      order: 1;
    }
  }
}

.kpter-mypage-cell {
  display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
// @media screenをコメントアウトすると、PCサイズで横並びになる
// コメントアウト外すと、PCサイズで縦並びになる
@media screen and (max-width: 839px){
  .kpter-card-status-container {
    display: table-cell;
    &:not(:last-child) {
      padding-right: 10px;
    }
    margin-right: 10px;
    width: 500px;
  }
}

@media screen and (min-width: $grid-desktop-breakpoint) {
  .kpter-card-status-container {
    padding: 0 0 0.9rem 0;
  }
}

.kpter-card-status-container {
  .kpter-likes-box {
    background-color: #03A9F4;
    color: rgba(255,255,255,.87);
    .material-icons {
      color: #29B6F6;
    }
  }
  .kpter-tasks-box {
    background-color: #66BB6A;
    color: rgba(255,255,255,.87);
    .material-icons {
      color: #81C784;
    }
  }
  .kpter-card-status {
    position: relative;
    border-radius: .25rem;
    width: initial;
    min-height: 95px;
    .kpter-status-icon-box {
      color: rgba(0,0,0,.20);
      font-size: 95px;
      height: 95px;
      overflow: hidden;
      padding-left: 3px;
      .material-icons {
        position: absolute;
        top: 25px;
        font-size: 90px;
      }
    }
    .box-layout-text {
      position: absolute;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      top: 15px;
      right: 12px;
      height: 100px;
      overflow: hidden;
      margin-left: 5px;
      .count {
        font-size: 30px;
        margin: 0;
        line-height: 1.2;
        text-align: right;
      }
    }
  }
}

.modal__kptercard {
  .modal__overlay {
    background: initial;
    z-index: 900;
    .modal__container {
      overflow-y: visible;
      max-width: 375px;
    }
  }
}

.social-connect-container {
  margin: 40px 0 0 0;
}

.separator {
  position: relative;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 0;
  @media screen and (max-width:922px) {
    border-top: 1px solid #ddd;
  }
  border-bottom: 1px solid #ddd;
}

.middle_separator {
  position: absolute;
  top: -9px;
  left: 41%;
  padding: 0 16px;
  color: #ccc;
  background: #fff;
  font-size: 14px;
  font-weight: 100;
  text-shadow: 0 1px 0 #fff;
  letter-spacing: 0.1em;
}

.social-connect-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  .social-item {
    margin: 0 0 2em 0;
  }
}

.social-connect-button-large {
  width: 350px;
  height: 40px !important;
  border-radius: 3px !important;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
  background-color: #FFFFFF;
}

.social-connect-button {
  width: 270px;
  height: 40px !important;
  border-radius: 3px !important;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
  background-color: #FFFFFF;
}
.social-logo {
  width: 18px;
  height: 18px;
  margin-right: 24px;
}
.social-text {
  font-family: "Roboto-Medium";
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
  text-transform: initial;
}
