@import "./variables";

.kpter-logo {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  @media screen and (max-width: $layout-screen-size-threshold) {
    font-size: 22px;
  }
}

/**
 * header
 */
.kpter-header {
  overflow: visible;
  background-color: white;
  .material-icons {
    color: #767777 !important;
  }
}

.kpter-menu {
  .mdl-menu__item {
    padding: 0;
    margin: 0;
    a {
      display: block;
      text-decoration: none;
      color: inherit;
      padding: 0 16px;
    }
  }
}
/**
 * drawer (side bar)
 */
.kpter-drawer {
  .kpter-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }
  .kpter-drawer-community-name {
    max-width: 87%;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .kpter-drawer-inviting-text {
    font-weight: 600;

  }
  .kpter-drawer-circle {
    background-color: #ff8c00;
    border: 1px solid #ff8c00;
    border-radius: 9px;
    box-sizing: border-box;
    display: block;
    height: .6em;
    min-width: .6em;
    padding: 0 .15em;
    position: relative;
    width: auto;
    float: right;
    margin: 8px 0;
  }
  .kpter-drawer-task-count {
    display: inline;
    float: right;
    color: #ccc;
    padding-left: 5px;
    font-size: 12px;
  }
}

/* Rules for sizing the icon. */
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@mixin kpter-alert-message {
  width: 100%;
  margin: 0 0 15px 0;
  ul {
    border-bottom: 1px solid rgba(0,0,0,.12);
    li {
      color: #d15e5e;
      font-size: 14px;
    }
  }
}

.kpter-notice-message {
  width: 100%;
  margin: 0 0 15px 0;
  ul {
    border-bottom: 1px solid rgba(0,0,0,.12);
    li {
      font-size: 14px;
    }
  }
}

.kpter-form-middle {
  margin: 0 auto;
  margin-top: 40px;
  width: 320px;
  .kpter-alert-message {
    @include kpter-alert-message;
  }
}

.kpter-form-left {
  width: 320px;
  .kpter-alert-message {
    @include kpter-alert-message;
  }
}

.float-right {
  display: flex;
  margin-left: auto;
}

.kpter-link {
  text-decoration: none;
}
.kpter-checkbox-label {
  color: rgba(0,0,0,.26);
}

.kpter-content {
  .kpter-content-head {
    padding-top: 24px;
    margin: 0 16px;
  }
  .kpter-content-subhead {
    margin: 0 16px;
    padding-top: 8px;
  }
}

.kpter-steps {
  width: 100%;
  padding: 0;
  margin: 30px auto 0;
  overflow: hidden;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  @media screen and (min-width: $grid-tablet-breakpoint) {
    display: table;
  }
  li {
    @media screen and (min-width: $grid-tablet-breakpoint) {
      display: table-cell;
      border-left: 1px solid #ddd;
    }
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-left: 1px solid #ddd;
  }
}

.kpter-mail {
  padding: 30px 0 0 0;
}

.kpter-avatar-img-96 {
  width: 96px;
  height: 96px;
  border-radius: 3px;
}

.kpter-dialog {
  width: 450px;
}

dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

table > tfoot > tr {
  height: 56px;
}

.kpter-table {
  width: 100%;
  // task
  th:nth-child(2) {
    width: 100%;
  }
  td {
    white-space: initial;
  }
  td:nth-child(2) {
    max-width: 100px;
  }
  .kpter-table-header-title {
    font-size: 18px !important;
  }
  .kpter-task-open-closed {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    padding-left: 8px;
  }
}

/**** paging ****/
.mdl-paging {
  color: rgba(0, 0, 0, 0.54);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.mdl-paging > * {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.mdl-list + .mdl-paging {
  margin: 0;
}

.mdl-paging__per-page {
  position: relative;
}

.mdl-paging__per-page-label {
  margin-right: 40px;
}

.mdl-paging__per-page-value {
  position: absolute;
  right: 36px;
  top: 6px;
}

.mdl-paging__per-page + .mdl-paging__count {
  margin-left: 24px;
}

.mdl-paging .mdl-menu {
  min-width: 64px;
}

.mdl-paging__prev:last-child {
  margin-right: 44px;
}

.mdl-paging__count + .mdl-paging__prev {
  margin-left: 24px;
}

.mdl-paging__prev + .mdl-paging__next {
  margin-left: 12px;
}

.mdl-paging__count + .mdl-paging__next {
  margin-left: 68px;
}
/**** paging end ****/

@mixin kpter-avatar-icons {
  width: 24px;
  height: 24px;
  opacity: .8;
}

.kpter-avatar-icons-square {
  @include kpter-avatar-icons;
  border-radius: .2rem;
}

.kpter-avatar-icons-circle {
  @include kpter-avatar-icons;
  border-radius: 50%;
}

.kpter-avatar-name {
  font-size: 15px;
}

.kpter-sub-heading {
  padding: .7rem;
  .kpter-sub-title {
    text-align: left;
    float: left;
  }
  .kpter-settings {
    text-align: right;
    color: rgba(0,0,0,0.54);
  }
}

.kpter-dialog-full-screen {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  .mdl-button--icon {
    position: absolute;
    top: 3rem;
    right: 3rem;
    min-width: 56px;
    width: 56px;
    font-size: 56px;
    height: 56px;
    .material-icons {
      font-size: 36px;
      top: 1.8rem;
      left: 1.55rem;
    }
    .esc {
      position: relative;
      text-transform: none;
      font-size: 12px;
    }
  }
  .kpter-dialog-content {
    color: rgba(0,0,0,.54);
    padding: 150px 100px 24px;
  }
}

dialog {
  .select2-user-multiple {
      width: 80%;
  }
  .select2-results__option {
    color: rgba(0,0,0,.54);
  }
}

.kpter-invitable-content {
  .kpter-invite-button {
    height: 50px;
    width: 100px;
  }
  .kpter-invitable-select {
    .select2-container {
      width: 80% !important;
    }
    ul {
      line-height: 36px;
      li {
        line-height: 36px;
      }
    }
    .select2-selection__choice__remove {
      margin-right: 5px !important;
    }
    .select2-search__field {
      line-height: 40px;
    }
  }
}
