<div class="kpter-drawer mdl-layout__drawer">
  <span class="mdl-layout-title kpter-logo mdl-color-text--primary">KPTER</span>
  <nav class="mdl-navigation">
    <%= link_to mypage_path, class: "mdl-navigation__link" do %>
      <span class="<% if request.path_info == mypage_path %>mdl-color-text--primary-dark<% end %>">MyPage</span>
    <% end %>
    <div class="kpter-drawer-separator"></div>
    <% communities.each do |cu| %>
      <%= link_to community_path(cu.community), class: "mdl-navigation__link" do %>
        <span class="kpter-drawer-community-name <% if cu.status.inviting? %>kpter-drawer-inviting-text<% end %> <% if current_community == cu.community %>mdl-color-text--primary-dark<% end %>"><%= cu.community.name %></span>
        <% if cu.status.inviting? %>
          <span class="kpter-drawer-circle"></span>
        <% else %>
          <span class="kpter-drawer-task-count"><%= t_cards_count(cu.community) %></span>
        <% end %>
      <% end %>
    <% end %>
  </nav>
</div>
