<!-- /.attendees-list -->
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-users fa-fw"></i> Attendees
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div id="attendees-table">
      <div class="cb_template">
        <div class="cbUserListDiv cbUserListLayoutGrid cbUserListT_2">
          <% attendees.each do |attendee| %>
              <div class="cbUserListRow containerBox img-thumbnail <% if attendee.status.inviting? %>view hm-grey-light<% end %>">
                <div class="containerBoxInner" style="height:125px;width:105px;">
                  <div class="cbUserListRowColumn cbUserListRowCol1">
                    <div class="cbUserListFieldLine cbUserListFL_avatar">
                      <span class="cbListFieldCont cbUserListFC_avatar">
                        <%= image_tag(avatar_url(attendee.user), :class => "cbImgPict cbThumbPict img-thumbnail img-circle", :alt => "#{attendee.user.nickname}") %>
                      </span>
                    </div>
                    <div class="cbUserListFieldLine cbUserListFL_formatname">
                      <span class="cbListFieldCont cbUserListFC_formatname">
                        <%= attendee.user.nickname %>
                      </span>
                    </div>
                  </div>
                </div>
                <% if attendee.status.inviting? %>
                  <div class="mask">
                    <div class="verticalcenter">
                      <div class="white-text text-center inviting-label">now inviting</div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
