<% boards.each do |board| %>
  <tr data-href="<%= url_for([community, board]) %>">
     <td class="mdl-data-table__cell--non-numeric">
       <%= board.name %>
    </td>
    <td class="kpter-mute-text">
      <%= board.created_at.to_s(:distance) %>
    </td>
  </tr>
<% end %>
