<div class="mdl-dialog__content kpter-dialog-content">
  <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect close">
    <i class="material-icons">close</i>
    <span class="esc">esc</span>
  </button>
  <div class="kpter-invitable-content">
    <h4><%= t('community.invitable_users.title', {community_name: community.name}) %></h4>
    <%= form_for community, :url => {:action => 'invite'}, :method => :post, remote: true do |f| %>
      <div class="kpter-invitable-select">
        <%= select_tag 'user[ids]', "", class: "select2-user-multiple", multiple: true %>
        <%= submit_tag t('community.invitable_users.actions.invite'), class: "mdl-button mdl-js-button mdl-button--colored mdl-button--raised kpter-invite-button mdl-js-ripple-effect", disabled: true %>
      </div>
      <script>
        settingDialog("dialog-button-invitable-users", "invitable-users-dialog");
      </script>
    <% end %>
  </div>
</div>
