<dialog id="invitable-users-dialog" class="mdl-dialog">
  Invite others to <%= community.name %>
  <%= form_for community, :url => {:action => 'invite'}, :method => :post do |f| %>
    <% if invitable_users.nil? %>
        No Data Available
    <% else %>
      <% invitable_users.each do |user| %>
        <%= user.nickname %>
      <% end %>
    <% end %>
  <% end %>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button">Close</button>
    <button type="button" class="mdl-button" disabled>Disabled action</button>
  </div>
</dialog>

<%= javascript_include_tag 'list' %>
