<div class="mdl-dialog__content kpter-dialog-content2">
  <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect close">
    <i class="material-icons">close</i>
    <span class="esc">esc</span>
  </button>
  <div class="kpter-form-middle mdl-cell mdl-grid mdl-grid--no-spacing">
    <h4>Add Board</h4>
    <%= form_for(current_community, url: community_boards_path(current_community), method: :post) do |f| %>
      <%= f.fields_for :boards do |b| %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= b.text_field :name, class: "mdl-textfield__input", value: "", maxlength: 64, required: true %>
          <%= b.label :name, class: "mdl-textfield__label" %>
        </div>
      <% end %>
      <button class="mdl-button mdl-js-button mdl-button--colored float-right mdl-js-ripple-effect">Create</button>
    <% end %>
  </div>
</div>
