<!-- /.attendees-list -->
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-users fa-fw"></i> Attendees
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div id="attendees-table">
      <div class="cb_template">
        <div class="cbUserListDiv cbUserListLayoutGrid cbUserListT_2">
        <% attendees.each do |attendee| %>
          <div class="cbUserListRow containerBox img-thumbnail">
            <div class="containerBoxInner" style="height:125px;width:105px;">
              <div class="cbUserListRowColumn cbUserListRowCol1">
                <div class="cbUserListFieldLine cbUserListFL_avatar">
                  <span class="cbListFieldCont cbUserListFC_avatar">
                    <%#　if attendee.profile_image.blank? %>
                    <%#　プロフィール画像が未登録の場合、app/assets/images/noimages/の画像を表示 %>
                    <img src="<%= asset_path "noimages/profile_#{attendee.id % 3}.png" %>" alt="<%= attendee.username %>" title="<%= attendee.username %>" class="cbImgPict cbThumbPict img-thumbnail img-circle">
                    <%# else　%>
                    <%# TODO show user's profile image %>
                    <%# end　%>
                  </span>
                </div>
                <div class="cbUserListFieldLine cbUserListFL_formatname">
                  <span class="cbListFieldCont cbUserListFC_formatname">
                    <%= attendee.username %>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
