<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title　h4,responsive" id="myModalLabel">Crop your new profile picture</h4>
    </div>
    <div id="avatar" class="modal-body avatar-image-container" style="display:none">
      <img id="preview-avatar-image" src="">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cancel</button>
      <button type="button" id="upload-image-btn" class="btn btn-primary waves-effect waves-light upload-button" onClick="this.disabled=true">Set new profile picture</button>
    </div>
  </div>
</div>
