<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title" id="myModalLabel">Crop your new profile picture</h4>
    </div>
    <div id="avatar" class="modal-body avatar-image-container" style="display:none">
      <img id="preview-avatar-image" src="">
    </div>
    <div class="modal-footer">
      <button type="button" id="upload-image-btn" class="btn btn-primary upload-button" onClick="this.disabled=true">Set new profile picture</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>
